<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="db_union.manage.dao.ManageMapper" >
  <resultMap id="BaseResultMap" type="db_union.manage.model.Manage" >
    <id column="manage_id" property="manageId" jdbcType="VARCHAR" />
    <result column="manage_pass" property="managePass" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    manage_id, manage_pass
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_manage
    where manage_id = #{manageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_manage
    where manage_id = #{manageId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="db_union.manage.model.Manage" >
    insert into tb_manage (manage_id, manage_pass)
    values (#{manageId,jdbcType=VARCHAR}, #{managePass,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="db_union.manage.model.Manage" >
    insert into tb_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="manageId != null" >
        manage_id,
      </if>
      <if test="managePass != null" >
        manage_pass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="manageId != null" >
        #{manageId,jdbcType=VARCHAR},
      </if>
      <if test="managePass != null" >
        #{managePass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="db_union.manage.model.Manage" >
    update tb_manage
    <set >
      <if test="managePass != null" >
        manage_pass = #{managePass,jdbcType=VARCHAR},
      </if>
    </set>
    where manage_id = #{manageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="db_union.manage.model.Manage" >
    update tb_manage
    set manage_pass = #{managePass,jdbcType=VARCHAR}
    where manage_id = #{manageId,jdbcType=VARCHAR}
  </update>
</mapper>